Repository wolph/portalocker: changes, and which lefthook commands are due for each by the changed paths.
All: uv-lock-sort, uv-sort, validate-pyproject, ruff, nbstripout

uv-lock-sort:
  run: uv lock
  stage_fixed: true

uv-sort:
  run: uvx uv-sort pyproject.toml
  stage_fixed: true

validate-pyproject:
  run: uvx --with=tomli --with=packaging validate-pyproject pyproject.toml

ruff:
  run: '{ruff} check --exit-zero --fix {staged_files}
  
    {ruff} format {staged_files}
  
    '
  stage_fixed: true

nbstripout:
  run: uv run nbstripout {staged_files}
  stage_fixed: true

wrapped the spawn context annotation to satisfy the line length limit
  portalocker_tests/test_multiprocess.py
Due: ruff

covered the elected-writer acquire and subscriber-churn guard deterministically
  portalocker_tests/test_redis.py
Due: ruff

synchronized contention tests on the server-side subscriber count
  portalocker_tests/test_redis.py
Due: ruff

raised per-test timeout ceilings for the contention tests on slow runners
  portalocker_tests/test_redis.py
Due: ruff

synchronized contention tests on writer election instead of subscription
  portalocker_tests/test_redis.py
Due: ruff

ignored the reentrant ResourceTracker warning in tests
  pyproject.toml
Due: uv-lock-sort, uv-sort, validate-pyproject

Improve inline type annotations
  portalocker/__about__.py
  portalocker/__init__.py
  portalocker/exceptions.py
  portalocker/redis.py
  portalocker/utils.py
Due: ruff

Keep existing Any annotations unchanged
  portalocker/exceptions.py
Due: ruff

Remove score-only annotation changes
  portalocker/__about__.py
  portalocker/__init__.py
  portalocker/redis.py
  portalocker/utils.py
Due: ruff

pinned the test matrix statically, dynamic-matrix no longer builds
  .github/workflows/main.yml
Due: none

exempted floating sp-repo-review style rules on the legacy branch
  pyproject.toml
Due: uv-lock-sort, uv-sort, validate-pyproject

moved None to the end of the fh type union for current ruff
  portalocker/exceptions.py
Due: ruff

forced uv onto managed 64-bit interpreters in the AppVeyor build
  appveyor.yml
Due: none

restored the AppVeyor build for the 4.0 layout
  appveyor.yml
Due: none

installed pyright into the tox run environments
  tox.toml
Due: none

pinned the tox pyright to the locked version
  tox.toml
Due: none

docs: design portalocker 4.0.0 release
  docs/superpowers/specs/2026-08-01-portalocker-4.0.0-release-design.md
Due: none

docs: plan portalocker 4.0.0 release
  docs/superpowers/plans/2026-08-01-portalocker-4.0.0-release.md
Due: none

fix: address release review feedback
  .github/workflows/stale.yml
  docs/superpowers/plans/2026-08-01-portalocker-4.0.0-release.md
  docs/superpowers/specs/2026-08-01-portalocker-4.0.0-release-design.md
Due: none

fix: address release review feedback
  .github/workflows/stale.yml
Due: none

documented the whole package and added seven narrative guides
  .github/dependabot.yml
  README.rst
  build_extra.py
  conftest.py
  docs/api/index.rst
  docs/api/portalocker.constants.rst
  docs/api/portalocker.exceptions.rst
  docs/api/portalocker.portalocker.rst
  docs/api/portalocker.redis.rst
  docs/api/portalocker.rst
  docs/api/portalocker.types.rst
  docs/api/portalocker.utils.rst
  docs/changelog.rst
  docs/cli.rst
  docs/index.rst
  docs/lock-types.rst
  docs/migration.rst
  docs/platforms.rst
  docs/quickstart.rst
  docs/redis.rst
  docs/troubleshooting.rst
  portalocker/__init__.py
  portalocker/__main__.py
  portalocker/constants.py
  portalocker/exceptions.py
  portalocker/portalocker.py
  portalocker/redis.py
  portalocker/types.py
  portalocker/utils.py
  portalocker_tests/conftest.py
  portalocker_tests/test_pidfilelock.py
  portalocker_tests/test_redis_random_sleep.py
  portalocker_tests/test_semaphore.py
  portalocker_tests/test_temporary_file_lock.py
  portalocker_tests/test_timeout_behaviour.py
  pyproject.toml
  ruff.toml
  tox.toml
Due: uv-lock-sort, uv-sort, validate-pyproject, ruff

gave the redis doctests the timeout their contention scenarios need
  conftest.py
Due: ruff

bumped the version to 4.1.0 and documented the release in the changelog
  CHANGELOG.rst
  pyproject.toml
Due: uv-lock-sort, uv-sort, validate-pyproject

made the publish workflow create the github release from the changelog after the pypi upload
  .github/workflows/publish.yml
  .github/workflows/test-release-job.yml
Due: none

Path conditions:
  uv-lock-sort: any of: pyproject.toml
  uv-sort: any of: pyproject.toml
  validate-pyproject: any of: pyproject.toml
  ruff: any of: *.py
  nbstripout: any of: *.ipynb
