Repository wolph/portalocker: changes, and which lefthook commands are due for each by the changed paths.
All: uv-lock-sort, uv-sort, validate-pyproject, ruff, nbstripout

lefthook.yml:

#pre-push:
#  parallel: true

templates:
  ruff: 'uvx ruff'

pre-commit:
  parallel: true
  commands:
    uv-lock-sort:
      glob: 'pyproject.toml'
      run: uv lock
      stage_fixed: true
    uv-sort:
      glob: 'pyproject.toml'
      run: uvx uv-sort pyproject.toml
      stage_fixed: true
    validate-pyproject:
      glob: 'pyproject.toml'
      run: uvx --with=tomli --with=packaging validate-pyproject pyproject.toml
    ruff:
      glob: '*.py'
      run: |
        {ruff} check --exit-zero --fix {staged_files}
        {ruff} format {staged_files}
      stage_fixed: true
    nbstripout:
      glob: '*.ipynb'
      run: uv run nbstripout {staged_files}
      stage_fixed: true

unbroke the mypy, pyrefly and ty checks on the Linux runners
  portalocker_tests/test_acquire_failure_paths.py
Due: ruff

gated the second writer on the favored writer's election in the id-election test (#143)
  portalocker_tests/test_redis.py
Due: ruff

merged the redis election semantics fix and honoured the verifier's wording notes (#143)
  CHANGELOG.rst
  portalocker/redis.py
Due: ruff

cleared the pypy finalizer warnings and capped read_pid digit runs
  CHANGELOG.rst
  portalocker/utils.py
  portalocker_tests/test_pidfilelock.py
  portalocker_tests/test_temporary_file_lock.py
Due: ruff

made the redis lock subscription zero-retry and escalated worker failures through a lifecycle state machine (#137, #141)
  portalocker/__init__.py
  portalocker/exceptions.py
  portalocker/redis.py
  portalocker_tests/test_redis.py
Due: ruff

covered redis lock revocation and escalation with fakeredis and live-server pins (#137, #141)
  portalocker_tests/test_redis.py
Due: ruff

documented redis lock loss semantics, deprecated check_or_kill_lock in the docs and hardened the loss-effect assertions (#137, #141)
  CHANGELOG.rst
  docs/redis.rst
  portalocker/redis.py
  portalocker_tests/test_redis.py
Due: ruff

fixed the rollback that consumed the command connection, guarded teardown against forked children and hardened the loss escalation (#137, #141)
  CHANGELOG.rst
  docs/redis.rst
  portalocker/redis.py
  portalocker_tests/test_redis.py
Due: ruff

excluded credential and pool-exhaustion errors from the transient subscribe classification (#137, #141)
  portalocker/redis.py
  portalocker_tests/test_redis.py
Due: ruff

stopped forcing the lock's health_check_interval onto the subscription client (#137)
  CHANGELOG.rst
  portalocker/redis.py
  portalocker_tests/test_redis.py
Due: ruff

noted the health check inheritance consequence for supplied connections
  CHANGELOG.rst
Due: none

documented that a lost redis lock is recorded before on_lost runs and made the doctest wait on the callback
  docs/redis.rst
  portalocker/redis.py
Due: ruff

made the keep-alive worker's stop robust against landing before its thread runs
  CHANGELOG.rst
  portalocker/redis.py
  portalocker_tests/test_redis.py
Due: ruff

registered the redis mode lock for after-fork reinitialization
  CHANGELOG.rst
  portalocker/redis.py
  portalocker/utils.py
  portalocker_tests/test_redis.py
Due: ruff

closed the zombie subscription left behind by a probe error during redis acquire
  CHANGELOG.rst
  portalocker/redis.py
  portalocker_tests/test_redis.py
Due: ruff

let release run from the on_lost callback without joining the worker thread
  CHANGELOG.rst
  docs/redis.rst
  portalocker/redis.py
  portalocker_tests/test_redis.py
Due: ruff

made the redis block exit read the loss after release and keep the body exception
  CHANGELOG.rst
  portalocker/redis.py
  portalocker/utils.py
  portalocker_tests/test_redis.py
Due: ruff

rolled a bounded semaphore slot back when an interrupt lands before or at publication
  CHANGELOG.rst
  portalocker/utils.py
  portalocker_tests/test_semaphore.py
Due: ruff

brought the stale escalation, changelog and loss-detection notes up to the shipped truth
  CHANGELOG.rst
  docs/redis.rst
  portalocker/redis.py
Due: ruff

covered the handler-less read loop raise and satisfied ty on the probe-error tests
  portalocker_tests/test_redis.py
Due: ruff

version forked the release-note assertion for python 3.10
  portalocker_tests/test_redis.py
Due: ruff

closed the fast-path reply-staleness double-exclusive window with a confirm probe and fixed the probe-drain amplifier (#145)
  CHANGELOG.rst
  docs/redis.rst
  portalocker/redis.py
  portalocker_tests/test_redis.py
Due: ruff

honoured the confirm probe verifier's documentation notes (#145)
  portalocker/redis.py
Due: ruff

added the opt-in self-check heartbeat and fencing tokens (#146)
  CHANGELOG.rst
  docs/redis.rst
  portalocker/redis.py
  portalocker_tests/test_redis.py
Due: ruff

gave the healthy self-check test a CI-proof interval and satisfied codespell
  portalocker_tests/test_redis.py
Due: ruff

bumped the version to 4.2.0 and folded the unreleased 4.1.1 section into it
  CHANGELOG.rst
  docs/lock-types.rst
  docs/migration.rst
  docs/platforms.rst
  docs/redis.rst
  portalocker/__init__.py
  portalocker/constants.py
  portalocker/exceptions.py
  portalocker/portalocker.py
  portalocker/redis.py
  portalocker/utils.py
  portalocker_tests/test_lock_flags.py
  portalocker_tests/test_msvcrt_lock_modes.py
  portalocker_tests/test_optional_redis.py
  portalocker_tests/test_pidfilelock.py
  portalocker_tests/test_posix_locker_dispatch.py
  portalocker_tests/test_redis.py
  portalocker_tests/test_semaphore.py
  portalocker_tests/test_temporary_file_lock.py
  pyproject.toml
Due: uv-lock-sort, uv-sort, validate-pyproject, ruff

typed the Lock filehandle by open mode: text modes yield IO[str], binary modes IO[bytes] (#97)
  CHANGELOG.rst
  portalocker/types.py
  portalocker/utils.py
  portalocker_tests/test_concurrent_state.py
  portalocker_tests/test_exceptions.py
  portalocker_tests/test_lock_mode_typing.py
  portalocker_tests/test_release_errors.py
  pyproject.toml
Due: uv-lock-sort, uv-sort, validate-pyproject, ruff

made the publish workflow fast-forward master to the release tag after publishing
  .github/workflows/publish.yml
  .github/workflows/test-sync-master-job.yml
Due: none

switched the sync-master push to the SYNC_MASTER_TOKEN fine-grained PAT
  .github/workflows/publish.yml
  .github/workflows/test-sync-master-job.yml
Due: none

removed the temporary sync-master test workflow now that the job is verified
  .github/workflows/test-sync-master-job.yml
Due: none

restored honest typing for dynamic modes, flat get_args(Mode) and a truthful 4.3.0 changelog after adversarial review
  .github/workflows/publish.yml
  CHANGELOG.rst
  portalocker/types.py
  portalocker/utils.py
  portalocker_tests/test_lock_mode_typing.py
Due: ruff

reworded the bare-subclass migration note and documented the PAT preflight's Workflows-write blind spot
  .github/workflows/publish.yml
  CHANGELOG.rst
Due: none

docs: add funding and support section
  .github/FUNDING.yml
  README.rst
  pyproject.toml
Due: uv-lock-sort, uv-sort, validate-pyproject

docs: add thanks.dev to the funding options
  .github/FUNDING.yml
  README.rst
Due: none

Prepare 4.3.1 with branded guides and release checks
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/publish.yml
  .github/workflows/stale.yml
  CHANGELOG.rst
  CONTRIBUTING.md
  README.md
  README.rst
  conftest.py
  docs/_static/file-lock.svg
  docs/_static/portalocker-dark.svg
  docs/_static/portalocker-light.svg
  docs/_static/portalocker.css
  docs/cli.rst
  docs/conf.py
  docs/index.rst
  docs/lock-types.rst
  docs/platforms.rst
  docs/redis.rst
  portalocker/__main__.py
  portalocker/redis.py
  portalocker_tests/test_combined.py
  portalocker_tests/test_readme.py
  portalocker_tests/test_redis.py
  portalocker_tests/test_redis_random_sleep.py
  portalocker_tests/test_redis_reply_deadline.py
  pyproject.toml
  scripts/__init__.py
  scripts/check_distribution.py
  tox.toml
Due: uv-lock-sort, uv-sort, validate-pyproject, ruff

Make the commit hook fail on unresolved lint errors
  lefthook.yml
  ruff.toml
Due: none

Keep the CI badge and link tied to master
  README.md
  portalocker_tests/test_readme.py
Due: ruff

Finish mobile documentation and clarify Redis loss detection
  docs/_static/portalocker.css
  docs/conf.py
  portalocker/redis.py
Due: ruff

Document socket timeouts across supported Redis client versions
  docs/redis.rst
  portalocker/redis.py
Due: ruff

Render Redis exception references as API links
  portalocker/redis.py
Due: ruff
