Repository wolph/portalocker: changes, and which lefthook commands are due for each by the changed paths.
All: uv-lock-sort, uv-sort, validate-pyproject, ruff, nbstripout

uv-lock-sort:
  run: uv lock
  stage_fixed: true

uv-sort:
  run: uvx uv-sort pyproject.toml
  stage_fixed: true

validate-pyproject:
  run: uvx --with=tomli --with=packaging validate-pyproject pyproject.toml

ruff:
  run: '{ruff} check --exit-zero --fix {staged_files}
  
    {ruff} format {staged_files}
  
    '
  stage_fixed: true

nbstripout:
  run: uv run nbstripout {staged_files}
  stage_fixed: true

fixed unlink-then-unlock split-brain in temporary and pid file locks
  portalocker/utils.py
  portalocker_tests/test_pidfilelock.py
  portalocker_tests/test_temporary_file_lock.py
Due: ruff

fixed BoundedSemaphore bricking after a non-contention acquire error
  portalocker/utils.py
  portalocker_tests/test_semaphore.py
Due: ruff

fixed PidFileLock leaking the sidecar lock on PID-write failure
  portalocker/utils.py
  portalocker_tests/test_pidfilelock.py
Due: ruff

raised shared-process test timeout ceiling to tolerate slow ci spawns
  portalocker_tests/test_multiprocess.py
Due: ruff

made exclusive cross-process lock test deterministic with an event
  portalocker_tests/test_multiprocess.py
Due: ruff

replaced sleep-based cross-process sync in pid lock test with events
  portalocker_tests/test_pidfilelock.py
Due: ruff

made release always unlock even when unlink fails
  portalocker/utils.py
  portalocker_tests/test_pidfilelock.py
  portalocker_tests/test_temporary_file_lock.py
Due: ruff

fixed check_or_kill_lock false positive and pubsub leak
  portalocker/redis.py
  portalocker_tests/test_redis.py
Due: ruff

fixed fail_when_locked not failing fast on a live holder
  portalocker/redis.py
  portalocker_tests/test_redis.py
Due: ruff

fixed self-created redis connections never being closed
  portalocker/redis.py
  portalocker_tests/test_redis.py
Due: ruff

fixed acquire leaving stale pubsub state on subscribe failure
  portalocker/redis.py
  portalocker_tests/test_redis.py
Due: ruff

hardened redis test fixture timing above windows granularity
  portalocker_tests/test_redis.py
Due: ruff

fixed posix locker binding and dispatch for all lockertype forms
  portalocker/portalocker.py
  portalocker_tests/test_posix_locker_dispatch.py
Due: ruff

fixed windows locker exception contract and raw-fd lock position
  portalocker/portalocker.py
  portalocker_tests/test_windows_locker.py
Due: ruff

fixed posix lock exceptions to populate strerror
  portalocker/portalocker.py
  portalocker_tests/test_posix_locker_dispatch.py
Due: ruff

used sys.executable for combined-file smoke run
  portalocker/__main__.py
  portalocker_tests/test_combined.py
Due: ruff

fixed combine to inline redis and bind vendored redislock
  portalocker/__main__.py
  portalocker_tests/test_combined.py
Due: ruff

wrote 4.0.0 changelog, updated readme badges for new ci
  CHANGELOG.rst
  README.rst
Due: none

dropped tests.rst from docs, test modules are not part of the documented api
  docs/conf.py
  docs/index.rst
  docs/tests.rst
Due: ruff

enabled strict pytest config and markers, satisfied repo-review
  pyproject.toml
Due: uv-lock-sort, uv-sort, validate-pyproject

gated posix-only and pywin32-dependent tests, fixed pypy finalizer
  portalocker_tests/test_lock_flags.py
  portalocker_tests/test_multiprocess.py
  portalocker_tests/test_temporary_file_lock.py
Due: ruff

reinstated per-os coverage rules via coverage-conditional-plugin
  portalocker/portalocker.py
  portalocker/utils.py
  pyproject.toml
Due: uv-lock-sort, uv-sort, validate-pyproject, ruff

excluded redis lock finalizer from coverage for pypy
  portalocker/redis.py
Due: ruff

fixed build_extra.py for the new path-based combine interface
  build_extra.py
  portalocker_tests/test_combined.py
Due: ruff

corrected stale conftest comment about msvcrt locker pywin32 coupling
  portalocker_tests/conftest.py
Due: ruff

removed orphaned coveralls badge, ci no longer uploads there
  README.rst
Due: none

restored changelog and tests in the sdist via source-include
  pyproject.toml
Due: uv-lock-sort, uv-sort, validate-pyproject

documented remaining behavior changes in changelog, removed typing namespace leak
  CHANGELOG.rst
  portalocker/__init__.py
Due: ruff

documented the pywin32 shared-lock requirement in readme, docstrings and errors
  README.rst
  portalocker/constants.py
  portalocker/portalocker.py
  portalocker/utils.py
Due: ruff

made lock release a no-op without ownership, stale objects unlinked live lock files (#115)
  CHANGELOG.rst
  portalocker/utils.py
  portalocker_tests/test_pidfilelock.py
  portalocker_tests/test_temporary_file_lock.py
Due: ruff

addressed PR review: simplified optional redis import, dynamic docs copyright year, guarded os.lseek against non-seekable fds
  docs/conf.py
  portalocker/__init__.py
  portalocker/portalocker.py
Due: ruff

covered combine TYPE_CHECKING handling directly, decoupled from __init__ structure
  portalocker_tests/test_combined.py
Due: ruff

ignore local worktrees
  .gitignore
Due: none

document release error policy design
  docs/superpowers/specs/2026-07-15-release-error-policy-design.md
Due: none

document open_atomic no-replace design
  docs/superpowers/specs/2026-07-15-open-atomic-no-replace-design.md
Due: none

document #115 inode waiter design
  docs/superpowers/specs/2026-07-15-issue-115-inode-waiters-design.md
Due: none

plan release error policy implementation
  docs/superpowers/plans/2026-07-16-release-error-policy.md
Due: none

refreshed package description and pinned redis>=5.0 for its inline type hints
  pyproject.toml
Due: uv-lock-sort, uv-sort, validate-pyproject

document open_atomic implementation plan
  docs/superpowers/plans/2026-07-16-open-atomic-no-replace.md
Due: none

Path conditions:
  uv-lock-sort: any of: pyproject.toml
  uv-sort: any of: pyproject.toml
  validate-pyproject: any of: pyproject.toml
  ruff: any of: *.py
  nbstripout: any of: *.ipynb
