Repository wolph/portalocker: changes, and which lefthook commands are due for each by the changed paths.
All: uv-lock-sort, uv-sort, validate-pyproject, ruff, nbstripout

uv-lock-sort:
  run: uv lock
  stage_fixed: true

uv-sort:
  run: uvx uv-sort pyproject.toml
  stage_fixed: true

validate-pyproject:
  run: uvx --with=tomli --with=packaging validate-pyproject pyproject.toml

ruff:
  run: '{ruff} check --exit-zero --fix {staged_files}
  
    {ruff} format {staged_files}
  
    '
  stage_fixed: true

nbstripout:
  run: uv run nbstripout {staged_files}
  stage_fixed: true

running ci on all branches
  .github/workflows/main.yml
Due: none

test: comment out unused locker classes in POSIX locker tests
  portalocker_tests/tests.py
Due: ruff

test: reorganize tests into multiple modules with added docstrings and fixtures
  portalocker/__main__.py
  portalocker_tests/conftest.py
  portalocker_tests/temporary_file_lock.py
  portalocker_tests/test_core_locking.py
  portalocker_tests/test_lock_flags.py
  portalocker_tests/test_mechanisms.py
  portalocker_tests/test_multiprocess.py
  portalocker_tests/test_redis_random_sleep.py
  portalocker_tests/test_rlock_behaviour.py
  portalocker_tests/test_semaphore.py
  portalocker_tests/test_timeout_behaviour.py
  portalocker_tests/tests.py
  pyproject.toml
  uv.lock
Due: uv-lock-sort, uv-sort, validate-pyproject, ruff

Rewrote locking classes for more flexibility
  portalocker/portalocker.py
  portalocker_tests/conftest.py
  portalocker_tests/test_lock_flags.py
  portalocker_tests/test_mechanisms.py
  uv.lock
Due: ruff

fixed small type issue
  portalocker_tests/conftest.py
Due: ruff

restructured posix locks to use a similar baselock like windows
  portalocker/portalocker.py
  portalocker/types.py
  portalocker_tests/conftest.py
  uv.lock
Due: ruff

small typing fixes
  portalocker/portalocker.py
Due: ruff

more type error fixes
  portalocker/portalocker.py
Due: ruff

fixed coverage issue
  portalocker/portalocker.py
Due: ruff

fixed small ruff issue
  portalocker/portalocker.py
Due: ruff

Incrementing version to v3.2.0
  portalocker/__about__.py
  portalocker/__init__.py
Due: ruff

Updated badges in readme
  README.rst
Due: none

added gemini assistant
  .github/workflows/gemini-cli.yml
  .github/workflows/gemini-issue-automated-triage.yml
  .github/workflows/gemini-issue-scheduled-triage.yml
  .github/workflows/gemini-pr-review.yml
Due: none

Revert "added gemini assistant"
  .github/workflows/gemini-cli.yml
  .github/workflows/gemini-issue-automated-triage.yml
  .github/workflows/gemini-issue-scheduled-triage.yml
  .github/workflows/gemini-pr-review.yml
Due: none

added pid file locking class to fix #106
  portalocker/__init__.py
  portalocker/utils.py
  portalocker_tests/test_multiprocess.py
  portalocker_tests/test_pidfilelock.py
  uv.lock
Due: ruff

no reason to lock dependencies, always use the newest for testing
  uv.lock
Due: none

renamed test lock files for easier testing
  portalocker_tests/test_core_locking.py
  portalocker_tests/test_lock_flags.py
  portalocker_tests/test_mechanisms.py
  portalocker_tests/test_multiprocess.py
  portalocker_tests/test_pidfilelock.py
  portalocker_tests/test_rlock_behaviour.py
  portalocker_tests/test_temporary_file_lock.py
  portalocker_tests/test_timeout_behaviour.py
Due: ruff

fixed pidfile lock for windows
  portalocker/utils.py
  portalocker_tests/test_pidfilelock.py
  portalocker_tests/test_temporary_file_lock.py
Due: ruff

fixed tests for linux/osx
  portalocker/utils.py
  portalocker_tests/test_pidfilelock.py
  portalocker_tests/test_temporary_file_lock.py
Due: ruff

made pywin32 dependency optional, there are alternative locking methods available for windows (i.e. msvcrt)
  pyproject.toml
Due: uv-lock-sort, uv-sort, validate-pyproject

made version system compatible with `uv` deployment
  portalocker/__about__.py
  portalocker/__init__.py
  portalocker_tests/test_version.py
  pyproject.toml
Due: uv-lock-sort, uv-sort, validate-pyproject, ruff

fixed type hinting
  portalocker/__about__.py
Due: ruff

Made the tests and code more resilient
  portalocker/__about__.py
  portalocker_tests/test_version.py
Due: ruff

cleaned up scratch files, hardened .gitignore, tracked build_extra.py
  .gitignore
  build_extra.py
Due: ruff

switched to uv_build backend, bumped to 4.0.0, dropped pywin32 default dependency, python>=3.10
  MANIFEST.in
  appveyor.yml
  pyproject.toml
Due: uv-lock-sort, uv-sort, validate-pyproject

restored license bundling, mypy baseline relaxations and coverage excludes
  pyproject.toml
Due: uv-lock-sort, uv-sort, validate-pyproject

modernized syntax for python 3.10 floor via ruff pyupgrade
  portalocker/__about__.py
  portalocker/exceptions.py
  portalocker/portalocker.py
  portalocker/types.py
  portalocker_tests/test_mechanisms.py
  portalocker_tests/test_multiprocess.py
  portalocker_tests/test_pidfilelock.py
  portalocker_tests/test_version.py
  ruff.toml
Due: ruff

typed the redis module against redis-py's inline annotations
  portalocker/redis.py
  portalocker_tests/test_redis.py
Due: ruff

removed the temporary mypy relaxations and stale type ignores, made all four type checkers pass
  portalocker/__init__.py
  portalocker/__main__.py
  portalocker/constants.py
  portalocker/portalocker.py
  portalocker/types.py
  portalocker_tests/conftest.py
  portalocker_tests/test_combined.py
  portalocker_tests/test_mechanisms.py
  portalocker_tests/test_multiprocess.py
  pyproject.toml
Due: uv-lock-sort, uv-sort, validate-pyproject, ruff

made LockBase generic over the acquire return type, dropped the unbound IO[AnyStr] returns for IO[Any]
  portalocker/utils.py
  portalocker_tests/test_core_locking.py
Due: ruff

rewrote tox matrix: py310-314, pypy, four type checkers, win32 flavor
  tox.toml
Due: none

removed stale redis type suppressions after redis-py grew annotations
  portalocker/redis.py
Due: ruff

fixed empty posargs handling in tox test envs
  tox.toml
Due: none

removed pre-commit and sourcery configs, lefthook is the only hook manager
  .pre-commit-config.yaml
  sourcery.yaml
Due: none

made windows test lockers conditional on pywin32 availability
  portalocker_tests/conftest.py
Due: ruff

made msvcrt locker work without pywin32, shared locks now explain the win32 extra
  portalocker/portalocker.py
  portalocker_tests/test_msvcrt_no_pywin32.py
Due: ruff

redis tests now run everywhere via fakeredis, live server still tested when available
  portalocker/redis.py
  portalocker_tests/test_redis.py
  portalocker_tests/test_redis_random_sleep.py
  pyproject.toml
Due: uv-lock-sort, uv-sort, validate-pyproject, ruff

split ci into explicit matrix + publish with trusted publishing + codeql
  .github/actions/setup-python-uv/action.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/publish.yml
Due: none

switched docs to furo, added readthedocs config, removed custom theme
  .readthedocs.yaml
  docs/Makefile
  docs/_theme/LICENSE
  docs/_theme/flask_theme_support.py
  docs/_theme/wolph/layout.html
  docs/_theme/wolph/relations.html
  docs/_theme/wolph/static/flasky.css_t
  docs/_theme/wolph/static/small_flask.css
  docs/_theme/wolph/theme.conf
  docs/conf.py
  docs/make.bat
  docs/requirements.txt
  docs/tests.rst
Due: ruff

fixed PidFileLock ignoring timeout when fail_when_locked is False
  portalocker/utils.py
  portalocker_tests/test_pidfilelock.py
Due: ruff

Path conditions:
  uv-lock-sort: any of: pyproject.toml
  uv-sort: any of: pyproject.toml
  validate-pyproject: any of: pyproject.toml
  ruff: any of: *.py
  nbstripout: any of: *.ipynb
