Repository wolph/portalocker: changes, and which lefthook commands are due for each by the changed paths.
All: uv-lock-sort, uv-sort, validate-pyproject, ruff, nbstripout

uv-lock-sort:
  run: uv lock
  stage_fixed: true

uv-sort:
  run: uvx uv-sort pyproject.toml
  stage_fixed: true

validate-pyproject:
  run: uvx --with=tomli --with=packaging validate-pyproject pyproject.toml

ruff:
  run: '{ruff} check --exit-zero --fix {staged_files}
  
    {ruff} format {staged_files}
  
    '
  stage_fixed: true

nbstripout:
  run: uv run nbstripout {staged_files}
  stage_fixed: true

Use integrated documentation URLs for the 4.3.1 release
  README.md
Due: none

Publish combined matrix coverage to Coveralls and restore the badge
  .github/workflows/ci.yml
  README.md
  pyproject.toml
Due: uv-lock-sort, uv-sort, validate-pyproject

Prepare 4.3.2 with the restored coverage badge
  CHANGELOG.rst
  pyproject.toml
Due: uv-lock-sort, uv-sort, validate-pyproject

Add monthly downloads badge and standardise badge style
  README.md
Due: none

Report master CI and measured coverage through live badges
  README.md
Due: none

Make README badges visually consistent
  README.md
Due: none

Verify the live master CI badge through Shields
  portalocker_tests/test_readme.py
Due: ruff

Point Dependabot at develop and assert it stays there
  .github/dependabot.yml
  .github/workflows/ci.yml
Due: none

Reject bool for Lock timeout and check_interval
  portalocker/utils.py
  portalocker_tests/test_timeout_behaviour.py
Due: ruff

Let ruff fix what it can before the lint gate runs
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  CONTRIBUTING.md
  tox.toml
Due: none

TEMP: probe the ruff annotation rendering on a pull request
  portalocker_tests/test_ci_annotation_probe.py
Due: ruff

Revert the ruff annotation probe
  portalocker_tests/test_ci_annotation_probe.py
Due: ruff

Revert "Revert the ruff annotation probe"
  portalocker_tests/test_ci_annotation_probe.py
Due: ruff

Remove the ruff annotation probe
  portalocker_tests/test_ci_annotation_probe.py
Due: ruff

Make the raises patterns raw strings
  portalocker_tests/test_timeout_behaviour.py
Due: ruff

Warn instead of raising when timeout or check_interval is a bool
  portalocker/utils.py
  portalocker_tests/test_timeout_behaviour.py
Due: ruff

Deprecate bool for Lock timeout and check_interval
  portalocker/utils.py
  portalocker_tests/test_timeout_behaviour.py
Due: ruff

Prepare 4.4.0 with the bool timeout deprecation
  CHANGELOG.rst
  pyproject.toml
Due: uv-lock-sort, uv-sort, validate-pyproject

Path conditions:
  uv-lock-sort: any of: pyproject.toml
  uv-sort: any of: pyproject.toml
  validate-pyproject: any of: pyproject.toml
  ruff: any of: *.py
  nbstripout: any of: *.ipynb
